.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: var(--transition);
}

.portfolio__item:hover .portfolio__item-image img {
  transition: var(--transition);
  transform: scale(1.1);
}
.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  transform: translateY(-3%);
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 0.5rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.lock-icon {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-primary-variant);
}

.plus-icon {
  color: var(--color-primary-variant);
  font-size: 4rem;
  align-self: center;
  justify-self: center;
}

.technologies {
  display: flex;
  gap: 1rem;
  font-size: 0.6rem;
  color: var(--color-light);
  margin-bottom: 2rem;
}

.unclickable {
  background: var(--color-light);
  border: none;
  pointer-events: none; /* Disable pointer events */
}

/* ============= MEDIA QUERRES (MEDIUM QUERRIES) ============== */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2srem;
  }

  .service {
    height: auto;
  }
}

/* ============= MEDIA QUERRES (SMALL QUERRIES) ============== */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
